@page "/admin/account"
@page "/admin/account/{Id:int}"

<style>
    .sort-th {
        cursor: pointer;
    }

    .oi {
        float: right;
    }
</style>

<div class="row m-2">
    <div class="@(ShowDetail ? "col-6" : "col-12")">
        <div class="d-flex">
            <div class="justify-content-start">
                @if (ShowDetail)
                {
                    <button class="btn btn-sm btn-outline-secondary" @onclick="ShowDetailCancel">Cancel</button>
                }
                else
                {
                    <button class="btn btn-sm btn-primary" @onclick="@(() => ShowDetail = true)">Create</button>
                }
            </div>
            <div class="mx-auto justify-content-center">
                <h3>Departments</h3>
            </div>
        </div>

        <div class="mt-2" style="font-size: small;">
            @if (IsProcessing)
            {
                <div style="position:fixed;top:50%;left:50%;margin-top:-50px;margin-left:-100px;">
                    <img src="images/ajax-loader.gif" />
                </div>
            }
            else
            {
                @if (Accounts != null && Accounts.Any())
                {
                    <table class="table table-sm table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="sort-th" @onclick="@(() => OnSortChanged("Id"))">
                                    #
                                    <i class="oi @(SetSortIcon("Id"))"></i>
                                </th>
                                <th class="sort-th" @onclick="@(() => OnSortChanged("Name"))">
                                    Name
                                    <i class="oi @(SetSortIcon("Name"))"></i>
                                </th>
                                <th class="sort-th" @onclick="@(() => OnSortChanged("ShortName"))">
                                    Email
                                    <i class="oi @(SetSortIcon("ShortName"))"></i>
                                </th>
                                <th class="sort-th" @onclick="@(() => OnSortChanged("Code"))">
                                    Department
                                    <i class="oi @(SetSortIcon("Code"))"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var acc in Accounts)
                            {
                                <tr>
                                    <td class="py-0">@acc.Id</td>
                                    <td class="py-0">
                                        <a href="admin/account/@acc.Id">@acc.Name</a>
                                    </td>
                                    <td class="py-0">@acc.Email</td>
                                    <td class="py-0">@acc.Department.Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>no accounts to show</p>
                }
            }
        </div>
    </div>
    @if (ShowDetail)
    {
        <div class="col-6">
            <DepartmentDetail Id="Id" OnDepartmentSubmit="DepartmentSubmitEvent"></DepartmentDetail>
        </div>
    }
</div>

<Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" OnFilterChanged="FilterChanged" />
