@page "/admin/department"

<style>
    .sort-th {
        cursor: pointer;
    }

    .oi {
        float: right;
    }
</style>

<div class="m-2">
    <div class="d-flex">
        <div class="justify-content-start">
            <a href="counterparty/create" class="btn btn-primary">Create</a>
        </div>
        <div class="mx-auto justify-content-center">
            <h3>Departments</h3>
        </div>
    </div>

    <div class="mt-2" style="font-size: small;">
        @if (IsProcessing)
        {
            <div style="position:fixed;top:50%;left:50%;margin-top:-50px;margin-left:-100px;">
                <img src="images/ajax-loader.gif" />
            </div>
        }
        else
        {
            @if (Departments != null && Departments.Any())
            {
                <table class="table table-sm table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="sort-th" @onclick="@(() => OnSortChanged("Id"))">
                                #
                                <i class="oi @(SetSortIcon("Id"))"></i>
                            </th>
                            <th class="sort-th" @onclick="@(() => OnSortChanged("Name"))">
                                Name
                                <i class="oi @(SetSortIcon("Name"))"></i>
                            </th>
                            <th class="sort-th" @onclick="@(() => OnSortChanged("ShortName"))">
                                Short Name
                                <i class="oi @(SetSortIcon("ShortName"))"></i>
                            </th>
                            <th class="sort-th" @onclick="@(() => OnSortChanged("Code"))">
                                Code
                                <i class="oi @(SetSortIcon("Code"))"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dep in Departments)
                        {
                            <tr>
                                <td class="py-0">@dep.Id</td>
                                <td class="py-0">
                                    <a href="department/@dep.Id">@dep.Name</a>
                                </td>
                                <td class="py-0">@dep.ShortName</td>
                                <td class="py-0">@dep.Code</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>no departments to show</p>
            }
        }
    </div>
</div>

<Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" OnFilterChanged="FilterChanged" />
