@page "/counterparty"

<style>
    .sort-th {
        cursor: pointer;
    }

    .oi {
        float: right;
    }
</style>

<div class="m-2">
    <div class="d-flex">
        <div class="justify-content-start">
            <a href="counterparty/create" class="btn btn-sm btn-primary">Create</a>
        </div>
        <div class="mx-auto justify-content-center">
            <h3>Counterparties</h3>
        </div>
    </div>
    
    <div class="mt-2" style="font-size: small;">
        @if (IsProcessing)
        {
            <div style="position:fixed;top:50%;left:50%;margin-top:-50px;margin-left:-100px;">
                <img src="images/ajax-loader.gif" />
            </div>
        }
        else
        {
            @if (Counterparties != null && Counterparties.Any())
            {
                <table class="table table-sm table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="sort-th" @onclick="@(() => OnSortChanged("Id"))">
                                #
                                <i class="oi @(SetSortIcon("Id"))"></i>
                            </th>
                            <th class="sort-th" @onclick="@(() => OnSortChanged("Name"))">
                                Name
                                <i class="oi @(SetSortIcon("Name"))"></i>
                            </th>
                            <th class="sort-th" @onclick="@(() => OnSortChanged("ShortName"))">
                                Short Name
                                <i class="oi @(SetSortIcon("ShortName"))"></i>
                            </th>
                            <th class="sort-th" @onclick="@(() => OnSortChanged("Sector"))">
                                Sector
                                <i class="oi @(SetSortIcon("Sector"))"></i>
                            </th>
                            <th class="sort-th" @onclick="@(() => OnSortChanged("CountryRisk"))">
                                Country of Risk
                                <i class="oi @(SetSortIcon("CountryRisk"))"></i>
                            </th>
                            <th class="sort-th" @onclick="@(() => OnSortChanged("Country"))">
                                Country of Domicile
                                <i class="oi @(SetSortIcon("Country"))"></i>
                            </th>
                            <th>Portfolio</th>
                            <th>Donor</th>
                            <th>DUNS</th>
                            <th>Reason</th>
                            <th>SRK</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var counterparty in Counterparties)
                        {
                            <tr>
                                <td class="py-0">@counterparty.Id</td>
                                <td class="py-0">
                                    <a href="counterparty/@counterparty.Id">@counterparty.Name</a>
                                </td>
                                <td class="py-0">@counterparty.ShortName</td>
                                <td class="py-0">
                                    @if (counterparty.FinancialSector != null)
                                    {
                                        @counterparty.FinancialSector.NameEn
                                    }
                                </td>
                                <td class="py-0">
                                    @if (counterparty.CountryRisk != null)
                                    {
                                        @counterparty.CountryRisk.NameEn
                                    }
                                </td>
                                <td class="py-0">
                                    @if (counterparty.Country != null)
                                    {
                                        @counterparty.Country.NameEn
                                    }
                                </td>
                                <td class="py-0">
                                    @if (counterparty.CounterpartyPortfolios != null && counterparty.CounterpartyPortfolios.Any())
                                    {
                                        @foreach (var portfolio in counterparty.CounterpartyPortfolios)
                                        {
                                            <span>@portfolio.Name</span>
                                        }
                                    }
                                </td>
                                <td class="py-0">
                                    @if (counterparty.RatingDonor != null)
                                    {
                                        @counterparty.RatingDonor.Name
                                    }
                                </td>
                                <td class="py-0">@counterparty.Duns</td>
                                <td class="py-0">@counterparty.Causes</td>
                                <td class="py-0">@counterparty.IsSrk</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>no counterparties to show</p>
            }
        }
    </div>
</div>

<Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" OnFilterChanged="FilterChanged" />
