<div class="card-body p-0">
    <div class="card-text">
        <EditForm Model="RatingModel" OnValidSubmit="HandleInternalRatingSubmit">
            <table class="table table-sm table-bordered table-hover mb-0" style="font-size: small;">
                <thead>
                    <tr>
                        <th class="sort-th" @onclick="@(() => OnSortChanged("Id"))">
                            #
                            <i class="oi @(SetSortIcon("Id"))"></i>
                        </th>
                        <th class="sort-th" @onclick="@(() => OnSortChanged("rName"))">
                            Rating
                            <i class="oi @(SetSortIcon("rName"))"></i>
                        </th>
                        <th class="sort-th" @onclick="@(() => OnSortChanged("wcName"))">
                            Rating wo Country
                            <i class="oi @(SetSortIcon("wcName"))"></i>
                        </th>
                        <th class="sort-th" @onclick="@(() => OnSortChanged("RiskClass"))">
                            Risk Class
                            <i class="oi @(SetSortIcon("RiskClass"))"></i>
                        </th>
                        <th class="sort-th" @onclick="@(() => OnSortChanged("FinStatement"))">
                            Fin Statement
                            <i class="oi @(SetSortIcon("FinStatement"))"></i>
                        </th>
                        <th class="sort-th" @onclick="@(() => OnSortChanged("Date"))">
                            Start Date
                            <i class="oi @(SetSortIcon("Date"))"></i>
                        </th>
                        <th class="sort-th" @onclick="@(() => OnSortChanged("Analyst"))">
                            Analyst
                            <i class="oi @(SetSortIcon("Analyst"))"></i>
                        </th>
                        <th class="sort-th" @onclick="@(() => OnSortChanged("Conservative"))">
                            C
                            <i class="oi @(SetSortIcon("Conservative"))"></i>
                        </th>
                        <th class="sort-th">Comment</th>
                        <th style="width: 50px;">
                            @if (!NewRating)
                            {
                                <span type="button" class="badge badge-success" @onclick="() => AddRating()">Add</span>
                            }
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (NewRating)
                    {
                        <tr>
                            <td class="p-0"></td>
                            <td class="p-0">
                                <InputSelect @bind-Value="RatingModel.RatingId" class="form-control form-control-sm" placeholder="Rating">
                                    @foreach (var r in RatingValues)
                                        {
                                        <option value="@r.Id">@r.Name</option>
                                        }
                                </InputSelect>
                                <ValidationMessage For="(()=>RatingModel.RatingId)" />
                            </td>
                            <td class="p-0">
                                <InputSelect @bind-Value="RatingModel.RatingWcId" class="form-control form-control-sm" placeholder="Rating WC">
                                    @foreach (var r in RatingValues)
                                        {
                                        <option value="@r.Id">@r.Name</option>
                                        }
                                </InputSelect>
                                <ValidationMessage For="(()=>RatingModel.RatingWcId)" />
                            </td>
                            <td class="p-0">
                                <InputSelect @bind-Value="RatingModel.RiskClassId" class="form-control form-control-sm" placeholder="Risk Class">
                                    @foreach (var rc in RiskClasses)
                                        {
                                        <option value="@rc.Id">@rc.Name</option>
                                        }
                                </InputSelect>
                                <ValidationMessage For="(()=>RatingModel.RiskClassId)" />
                            </td>
                            <td class="p-0">
                                <InputSelect @bind-Value="RatingModel.FinancialStatementId" class="form-control form-control-sm" placeholder="FSS">
                                    @foreach (var fs in fss)
                                        {
                                        <option value="@fs.Id">@fs.DateStart.ToString("dd.MM.yyyy") | @fs.FinancialStatementStandard.Name</option>
                                        }
                                </InputSelect>
                                <ValidationMessage For="(()=>RatingModel.FinancialStatementId)" />
                            </td>
                            <td class="p-0">
                                <InputDate @bind-Value="RatingModel.DateStart" class="form-control form-control-sm" placeholder="Date"></InputDate>
                                <ValidationMessage For="(()=>RatingModel.DateStart)" />
                            </td>
                            <td class="p-0"></td>
                            <td class="py-0">
                                <InputCheckbox @bind-Value="RatingModel.IsConservative" class="form-check form-control-sm"></InputCheckbox>
                            </td>
                            <td class="p-0">
                                <InputText @bind-Value="RatingModel.Comment" class="form-control form-control-sm" placeholder="comment"></InputText>
                                <ValidationMessage For="(()=>RatingModel.Comment)" />
                            </td>
                            <td>
                                <span class="far fa-save text-success" @onclick="() => HandleInternalRatingSubmit()"></span>
                                <span class="fas fa-ban text-danger" @onclick="() => CancelAsync()"></span>
                            </td>
                        </tr>
                    }
                    @if (Ratings != null && Ratings.Any())
                    {
                        @foreach (var rating in Ratings)
                        {
                            @if (rating.Id != RatingModel.Id)
                            {
                                <tr>
                                    <td class="py-0">@rating.Id</td>
                                    <td class="py-0">@rating.Rating?.Name</td>
                                    <td class="py-0">@rating.RatingWc?.Name</td>
                                    <td class="py-0">@rating.RiskClass?.Name</td>
                                    <td class="py-0">@rating.FinancialStatement?.DateStart.ToString("dd.MM.yyyy") | @rating.FinancialStatement?.FinancialStatementStandard.Name</td>
                                    <td class="py-0">@rating.DateStart.ToString("dd.MM.yyyy")</td>
                                    <td class="py-0">@rating.Analyst</td>
                                    <td class="py-0">
                                        @if (rating.IsConservative)
                                        {
                                            <i class="fas fa-check"></i>
                                        }
                                    </td>
                                    <td class="py-0">@rating.Comment</td>
                                    <td class="py-0">
                                        <span class="fas fa-edit text-primary" tooltip="edit" @onclick="()=> RatingToUpdate(rating)"></span>
                                        <span class="far fa-trash-alt text-danger" tooltip="delete" @onclick="()=> HandleInternalRatingDelete(rating.Id)"></span>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </EditForm>
    </div>
</div>