@page "/gisaddon"
@page "/gisaddon/{Id:int}"

<style>
	.main-area {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 1rem;
		left: 260px;
		height: 100%;
		overflow-y: auto;
		padding-top: 3rem;
	}

	.sort-th {
		cursor: pointer;
	}

	.card-body {
		padding: 0;
	}

	.card-title {
		height: 70px;
		padding: 5px;
	}

	.table td, .table th {
		vertical-align: middle;
	}
</style>

<LeftMenu />

<div class="main-area">
	<div class="row m-0 pb-2" style="height: 100%;">
		<div class="col-6">
			<div class="card h-100">
				<div class="card-body">
					<div class="d-flex card-title">
						<div class="mx-auto justify-content-center">
							<h3>ПХГ услуги</h3>
						</div>
						<div class="justify-content-end">
							@if (EditMode == "none")
							{
								<button class="btn btn-sm btn-primary" @onclick="@(() => Create())">Создать</button>
							}
						</div>
					</div>
					<div class="card-text" style="font-size: small;">
						@if (IsProcessing)
						{
							<div style="position:fixed;top:50%;left:50%;margin-top:-50px;margin-left:-100px;">
								<img src="images/ajax-loader.gif" />
							</div>
						}
						else
						{
							<CascadingValue Value="GisAddonModel">
								<EditForm Model="GisAddonModel" OnValidSubmit="HandleSubmit">
									<DataAnnotationsValidator />
									<ValidationSummary />
									<table class="table table-sm table-bordered table-hover">
										<thead>
											<tr>
												<TableHeader Params="_parameters" ColumnName="ID" DbName="Id" OnSortChangedSubmit="OnSortChanged" />
												<TableHeader Params="_parameters" ColumnName="ГИС" DbName="Gis" OnSortChangedSubmit="OnSortChanged" />
												<TableHeader Params="_parameters" ColumnName="Наименование" DbName="Name" OnSortChangedSubmit="OnSortChanged" />
												<TableHeader Params="_parameters" ColumnName="Рассчитывается" DbName="IsCalculated" OnSortChangedSubmit="OnSortChanged" />
												<TableHeader Params="_parameters" ColumnName="Множитель" DbName="Multiplicator" OnSortChangedSubmit="OnSortChanged" />
												<th>

												</th>
											</tr>
										</thead>
										<tbody>
											@if (EditMode == "new")
										{
											<GisAddonEdit Gises="Gises" OnValueSubmit="HandleSubmit" OnCancel="Cancel" />
										}

										@if (Addons != null && Addons.Any())
										{
											@foreach (var addon in Addons)
											{
												@if (EditMode == "edit" && GisAddonModel.Id == addon.Id)
												{
													<GisAddonEdit Gises="Gises" OnValueSubmit="HandleSubmit" OnCancel="Cancel" />
												}
												else
												{
													<tr @onclick="()=> OnSelectAddon(addon)">
														<td class="align-middle py-0">@addon.Id</td>
														<td class="align-middle py-0">@addon.Gis.Name</td>
														<td class="align-middle py-0">@addon.Name</td>
														<td class="align-middle py-0">
															@if (addon.IsCalculated)
															{
																<i class="fa fa-check" aria-hidden="true"></i>
															}
														</td>
														<td class="align-middle py-0">@addon.Multiplicator</td>
														<td class="align-middle py-0" style="width: 50px;">
															<button class="fas fa-edit text-primary p-0" style="background-color: transparent; border: 0;" type="button" tooltip="cancel" @onclick="()=> HandleUpdate(addon)" />
															<button class="far fa-trash-alt text-danger p-0" style="background-color: transparent; border: 0;" type="button" tooltip="cancel" @onclick="()=> HandleDelete(addon.Id)" />
														</td>
													</tr>
												}
											}
										}
										else
										{
											<p>Нет данных</p>
										}

										</tbody>
									</table>
								</EditForm>
							</CascadingValue>
						}
					</div>
				</div>
				<div class="card-footer p-0">
					<Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" OnFilterChanged="FilterChanged" />
				</div>
			</div>
		</div>
		@if (ShowDetail && GisAddonModel?.Id > 0)
		{
			<div class="col-6">
				<GisAddonDetail Addon="GisAddonModel"></GisAddonDetail>
			</div>
		}
	</div>
</div>