@page "/references/filetypesetting"
@page "/references/filetypesetting/{Id:int}"

@using Shared

<style>
	.main-area {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 1rem;
		left: 260px;
		height: 100%;
		overflow-y: auto;
		padding-top: 3rem;
	}

	.sort-th {
		cursor: pointer;
	}

	.card-body {
		padding: 0;
	}

	.card-title {
		height: 70px;
		padding: 5px;
	}

	.table td, .table th {
		vertical-align: middle;
	}
</style>

<LeftMenu />

<div class="main-area">
	<div class="row m-0 pb-2" style="height: 100%;">

		<div class="col-4">
			<div class="card h-100">
				<div class="card-body">
					<div class="d-flex card-title">
						<div class="mx-auto justify-content-center">
							<h3>Типы файлов для разбора</h3>
						</div>
						<div class="justify-content-end">
							@if (EditMode == "none")
							{
								<button class="btn btn-sm btn-primary" @onclick="@(() => Create())">Создать</button>
							}
						</div>
					</div>
					<div class="card-text" style="font-size: small;">
						@if (IsProcessing)
						{
							<div style="position:fixed;top:50%;left:50%;margin-top:-50px;margin-left:-100px;">
								<img src="images/ajax-loader.gif" />
							</div>
						}
						else
						{
							<CascadingValue Value="Model">
								<EditForm Model="Model" OnValidSubmit="HandleSubmit">
									<DataAnnotationsValidator />
									<ValidationSummary />
									<table class="table table-sm table-bordered table-hover">
										<thead>
											<tr>
												<th rowspan="2" class="sort-th" @onclick="@(() => OnSortChanged())">
													ID
													<i class="oi @(SetSortIcon("Id"))"></i>
												</th>
												<th rowspan="2" class="sort-th" @onclick="@(() => OnSortChanged())">
													Наименование
													<i class="oi @(SetSortIcon("Name"))"></i>
												</th>
												<th>
												</th>
											</tr>
										</thead>
										<tbody>
											@if (EditMode == "new")
										{
											<FileTypeSettingEdit OnValueSubmit="HandleSubmit" OnCancel="Cancel" />
										}
										@if (ValueList != null && ValueList.Any())
										{
											@foreach (var val in ValueList)
											{
												@if (EditMode == "edit" && Model.Id == val.Id)
												{
													<FileTypeSettingEdit OnValueSubmit="HandleSubmit" OnCancel="Cancel" />
												}
												else
												{
													<tr @onclick="()=> OnSelect(val)">
														<td class="align-middle py-0">@val.Id</td>
														<td class="align-middle py-0">@val.Name</td>
														<td class="align-middle py-0" style="width: 50px;">
															<button class="fas fa-edit text-primary p-0" style="background-color: transparent; border: 0;" type="button" tooltip="cancel" @onclick="()=> HandleUpdate(val)" />
															<button class="far fa-trash-alt text-danger p-0" style="background-color: transparent; border: 0;" type="button" tooltip="cancel" @onclick="()=> HandleDelete(val.Id)" />
														</td>
													</tr>
												}
											}
										}
									</tbody>
								</table>
							</EditForm>
						</CascadingValue>
						}
					</div>
				</div>
				<div class="card-footer p-0">
					<Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" OnFilterChanged="FilterChanged" />
				</div>
			</div>
		</div>
		@if (ShowDetail && Model?.Id > 0)
		{
			<div class="col-8">
				<FileTypeSettingDetail Model="Model" Reload="Load"></FileTypeSettingDetail>
			</div>
		}

	</div>
</div>