@page "/references/{referenceName?}"
@page "/references/{referenceName}/{Id:int}"



<div class="row m-0 mt-2">
    <div class="col-2">
        <div class="navbar p-0">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/references/committeelimit">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Committee Limits
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/references/committeestatus">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Committee Statuses
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/references/currency">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Currencies
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/references/financialstatementstandard">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Financial Statement Standards
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/references/guaranteeapprovaldoctype">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Approval Doc Types
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/references/guaranteetype">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Guarantee Types
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/references/ratingagency">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Rating Agencies
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/references/riskclass">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Risk Classes
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>


    <div class="@(ShowDetail ? "col-5" : "col-10")">
        <div class="d-flex">
            <div class="justify-content-start">
                @if (ShowDetail)
                {
                    <button class="btn btn-sm btn-outline-secondary" @onclick="ShowDetailCancel">Cancel</button>
                }
                else
                {
                    if (referenceName != null)
                    {
                        <button class="btn btn-sm btn-primary" @onclick="@(() => ShowDetail = true)">Create</button>
                    }
                }
            </div>
            <div class="mx-auto justify-content-center">
                <h3>@(SetTitle())</h3>
            </div>
        </div>

        <div class="mt-2" style="">
            @if (IsProcessing)
            {
                <div style="position:fixed;top:50%;left:50%;margin-top:-50px;margin-left:-100px;">
                    <img src="images/ajax-loader.gif" />
                </div>
            }
            else
            {
                @if (Values != null && Values.Any())
                {
                    <table class="table table-sm table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="sort-th" style="width: 40px;">Id</th>
                                <th class="sort-th">Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var v in Values)
                            {
                                <tr>
                                    <td class="py-0">@v.Id</td>
                                    <td class="py-0">
                                        @*<a href="references/committeelimit/@v.Id">@v.Name</a>*@
                                        <a href="@GetUrl(v.Id)">@v.Name</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    if (referenceName != null)
                    {
                        <p>no values to show</p>
                    }
                }
            }
        </div>
    </div>
    @if (ShowDetail)
    {
        <div class="col-5">
            <ReferenceDetail Id="Id"
                             OnValueSubmit="ValueSubmitEvent"
                             OnDeleteComfirmEvent="DeleteComfirmEvent"
                             Model="@Model"
                             Title="@DetailTitle"></ReferenceDetail>
        </div>
    }
</div>

