<div class="card h-100">
    <div class="card-body">
        <div class="d-flex card-title">
            <div class="mx-auto justify-content-center">
                <h3>@GisCountry.Country.Name</h3>
            </div>
            <div class="justify-content-end">
            </div>
        </div>
        <div class="card-text scroll" style="font-size: small;">
            @if (isProcessing)
            {
                <div style="position:relative;top:50%;left:50%;margin-top:-50px;margin-left:-100px;">
                    <img src="images/ajax-loader.gif" />
                </div>
            }
            else
            {
                <CascadingValue Value="Model">
                    <EditForm Model="Model" OnValidSubmit="HandleSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Дата</th>
                                    <th>Заявлено</th>
                                    <th>Выделено</th>
                                    <th>Оценка</th>
                                    <th>Факт</th>
                                    <th>
                                        @if (EditMode == "none")
                                    {
                                        <badge class="btn-success" style="border: 0;" type="button" @onclick="@(() => Create())">создать</badge>
                                    }
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (EditMode == "new")
                            {
                                <DailyReviewCountryEdit OnValueSubmit="HandleSubmit" OnCancel="Cancel" />
                            }
                            @if (valueList != null && valueList.Count() > 0)
                            {
                                @foreach (var val in valueList)
                                {
                                    @if (EditMode == "edit" && Model.Id == val.Id)
                                    {
                                        <DailyReviewCountryEdit OnValueSubmit="HandleSubmit" OnCancel="Cancel" />
                                    }
                                    else
                                    {
                                        <tr @onclick="() => OnSelectValue(val)">
                                            <td>
                                                @val.DateReport.ToString("dd.MM.yy")
                                            </td>
                                            <td>
                                                <ValueWithLog Value="@val.RequstedValueString" Id="@val.RequestedValueTimeId" ShowInfo="ShowInfo" />
                                            </td>
                                            <td>
                                                <div class="d-flex justify-content-between">
                                                    <div class="">
                                                        @val.AllocatedValueString
                                                    </div>
                                                    @if (val.AllocatedValueTimeId > 0)
                                                    {
                                                        <div class="pointer">
                                                            <i class="fas fa-question-circle text-info" @onclick="() => ShowInfo(val.AllocatedValueTimeId)"></i>
                                                        </div>
                                                    }
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex justify-content-between">
                                                    <div class="">
                                                        @val.EstimatedValueString
                                                    </div>
                                                    @if (val.EstimatedValueTimeId > 0)
                                                    {
                                                        <div class="pointer">
                                                        <i class="fas fa-question-circle text-info" @onclick="() => ShowInfo(val.EstimatedValueTimeId)"></i>
                                                    </div>
                                                    }
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex justify-content-between">
                                                    <div class="">
                                                        @val.FactValueString
                                                    </div>
                                                    <div class="pointer">
                                                        <i class="fas fa-question-circle text-info" @onclick="() => ShowInfo(val.FactValueTimeId)"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="width: 50px;">
                                                <button class="fas fa-edit text-primary p-0" style="background-color: transparent; border: 0;" type="button" tooltip="edit" @onclick="()=> Edit(val)" />
                                                <button class="far fa-trash-alt text-danger p-0" style="background-color: transparent; border: 0;" type="button" tooltip="delete" @onclick="()=> Delete(val.Id)" />
                                            </td>
                                        </tr>
                                        @if (EditMode == "log" && Model.Id == val.Id)
                                        {
                                            <tr>
                                                <td colspan="6">
                                                    @logText
                                                </td>
                                            </tr>
                                        }
                                    }

                                }
                            }
                            else
                            {
                                <span>нет данных</span>
                            }
                        </tbody>
                    </table>
                </EditForm>
            </CascadingValue>
            }
        </div>
    </div>
    <div class="card-footer p-0">
        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" OnFilterChanged="FilterChanged" />
    </div>
</div>