@page "/reviewinput"

<div class="row m-0" style="height: 100%;">
    <div class="col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="d-flex card-title">
                    <div class="mx-auto justify-content-center">
                        <h3>Загрузка данных</h3>
                        @if (isReady)
                        {
                            <span class="align-content-end">готово</span>
                        }
                    </div>
                    <div class="justify-content-end">
                        <InputFile OnChange="@LoadExcelFiles" accept=".xlsx, .xlsm, .xls" multiple />
                    </div>
                </div>
                <div class="card-text" style="font-size: small;">
                    <div>
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Файл</th>
                                    <th>Ошибки</th>
                                    <th>Отправлено</th>
                                    <th>Создано</th>
                                    <th>Обновлено</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var m in messages)
                                {
                                    <tr>
                                        <td>@m.Filename</td>
                                        @if (currentFile == m.Filename)
                                        {
                                            <td colspan="4">
                                                <div>
                                                    <img src="images/ajax-loader.gif" />
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>@m.Message</td>
                                            <td>@m.SendedCount</td>
                                            <td>@m.SavedCount</td>
                                            <td>@m.UpdatedCount</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer p-0">
            </div>
        </div>
    </div>
</div>
